* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body {
  background-image: url("assets/bbg.png");
  background-size: cover; 
  background-repeat: repeat; 
  background-color: #313131; 
  height: 100vh; 
  margin: 0; 
}

